body{
    background-color:#fabada
}

.layout-title{
    background-color:black;
    color:white;
}
.error{
    color:red;
}

#portada{
    background-image: url("/images/bandasFondo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    z-index: -1;

}
